In [1]:
import findspark
findspark.init("A:/Zhao/bigdata/spark")

In [2]:
# Import SparkSession
from pyspark.sql import SparkSession

# Build the SparkSession
spark = SparkSession.builder \
   .master("local") \
   .appName("Linear Regression Model") \
   .config("spark.executor.memory", "1gb") \
   .getOrCreate()
   
sc = spark.sparkContext

In [3]:
#rdd1 = sc.parallelize([('a',7),('a',2),('b',2)])
rdd1 = spark.sparkContext.parallelize([('a',7),('a',2),('b',2)])
rdd2 = spark.sparkContext.parallelize([("a",["x","y","z"]), ("b",["p", "r"])])
rdd3 = spark.sparkContext.parallelize(range(100))

In [4]:
rdd1.reduce(lambda a,b: a+b)

('a', 7, 'a', 2, 'b', 2)

In [5]:
rdd2.flatMapValues(lambda x: x).collect()

[('a', 'x'), ('a', 'y'), ('a', 'z'), ('b', 'p'), ('b', 'r')]

In [9]:
# Load in the data
rdd = sc.textFile('./houses/cal_housing.data')

# Load in the header
header = sc.textFile('./houses/cal_housing.domain')

In [10]:
header.collect()

['median_house_value,median_income,housing_median_age,total_rooms,total_bedrooms,population,households,latitude,longitude']

In [11]:
rdd.take(2)

['4.5260000000000000e+005,8.3252000000000006e+000,4.1000000000000000e+001,8.8000000000000000e+002,1.2900000000000000e+002,3.2200000000000000e+002,1.2600000000000000e+002,3.7880000000000003e+001,-1.2223000000000000e+002',
 '3.5850000000000000e+005,8.3013999999999992e+000,2.1000000000000000e+001,7.0990000000000000e+003,1.1060000000000000e+003,2.4010000000000000e+003,1.1380000000000000e+003,3.7859999999999999e+001,-1.2222000000000000e+002']

In [12]:
# Split lines on commas
rdd = rdd.map(lambda line: line.split(","))

# Inspect the first 2 lines 
rdd.take(2)

[['4.5260000000000000e+005',
  '8.3252000000000006e+000',
  '4.1000000000000000e+001',
  '8.8000000000000000e+002',
  '1.2900000000000000e+002',
  '3.2200000000000000e+002',
  '1.2600000000000000e+002',
  '3.7880000000000003e+001',
  '-1.2223000000000000e+002'],
 ['3.5850000000000000e+005',
  '8.3013999999999992e+000',
  '2.1000000000000000e+001',
  '7.0990000000000000e+003',
  '1.1060000000000000e+003',
  '2.4010000000000000e+003',
  '1.1380000000000000e+003',
  '3.7859999999999999e+001',
  '-1.2222000000000000e+002']]

In [13]:
'''
# Inspect the first line 
rdd.first()

# Take top elements
rdd.top(2)
'''

'\n# Inspect the first line \nrdd.first()\n\n# Take top elements\nrdd.top(2)\n'

In [14]:
# Import the necessary modules 
from pyspark.sql import Row

# Map the RDD to a DF
df = rdd.map(lambda line: Row(longitude=line[8], 
                              latitude=line[7], 
                              housingMedianAge=line[2],
                              totalRooms=line[3],
                              totalBedRooms=line[4],
                              population=line[5], 
                              households=line[6],
                              medianIncome=line[1],
                              medianHouseValue=line[0])).toDF()

In [15]:
# Show the top 20 rows 
df.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|          households|    housingMedianAge|            latitude|           longitude|    medianHouseValue|        medianIncome|          population|       totalBedRooms|          totalRooms|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|1.260000000000000...|4.100000000000000...|3.788000000000000...|-1.22230000000000...|4.526000000000000...|8.325200000000000...|3.220000000000000...|1.290000000000000...|8.800000000000000...|
|1.138000000000000...|2.100000000000000...|3.785999999999999...|-1.22220000000000...|3.585000000000000...|8.301399999999999...|2.401000000000000...|1.106000000000000...|7.099000000000000...|
|1.770000000000000...|5.200000000000000...|3.785000000000000...|-1.22239999999999...|3.521000000000000...|7.257399999999999...|4.960000000000000...|1.900000000000000...|1.467000000000000...|
|2.190000000000000...|5.200000000000000...|3.785000000000000...|-1.22250000000000...|3.413000000000000...|5.643099999999999...|5.580000000000000...|2.350000000000000...|1.274000000000000...|
|2.590000000000000...|5.200000000000000...|3.785000000000000...|-1.22250000000000...|3.422000000000000...|3.846200000000000...|5.650000000000000...|2.800000000000000...|1.627000000000000...|
|1.930000000000000...|5.200000000000000...|3.785000000000000...|-1.22250000000000...|2.697000000000000...|4.036800000000000...|4.130000000000000...|2.130000000000000...|9.190000000000000...|
|5.140000000000000...|5.200000000000000...|3.784000000000000...|-1.22250000000000...|2.992000000000000...|3.659100000000000...|1.094000000000000...|4.890000000000000...|2.535000000000000...|
|6.470000000000000...|5.200000000000000...|3.784000000000000...|-1.22250000000000...|2.414000000000000...|3.120000000000000...|1.157000000000000...|6.870000000000000...|3.104000000000000...|
|5.950000000000000...|4.200000000000000...|3.784000000000000...|-1.22260000000000...|2.267000000000000...|2.080400000000000...|1.206000000000000...|6.650000000000000...|2.555000000000000...|
|7.140000000000000...|5.200000000000000...|3.784000000000000...|-1.22250000000000...|2.611000000000000...|3.691199999999999...|1.551000000000000...|7.070000000000000...|3.549000000000000...|
|4.020000000000000...|5.200000000000000...|3.785000000000000...|-1.22260000000000...|2.815000000000000...|3.203100000000000...|9.100000000000000...|4.340000000000000...|2.202000000000000...|
|7.340000000000000...|5.200000000000000...|3.785000000000000...|-1.22260000000000...|2.418000000000000...|3.270500000000000...|1.504000000000000...|7.520000000000000...|3.503000000000000...|
|4.680000000000000...|5.200000000000000...|3.785000000000000...|-1.22260000000000...|2.135000000000000...|3.075000000000000...|1.098000000000000...|4.740000000000000...|2.491000000000000...|
|1.740000000000000...|5.200000000000000...|3.784000000000000...|-1.22260000000000...|1.913000000000000...|2.673600000000000...|3.450000000000000...|1.910000000000000...|6.960000000000000...|
|6.200000000000000...|5.200000000000000...|3.785000000000000...|-1.22260000000000...|1.592000000000000...|1.916700000000000...|1.212000000000000...|6.260000000000000...|2.643000000000000...|
|2.640000000000000...|5.000000000000000...|3.785000000000000...|-1.22260000000000...|1.400000000000000...|2.125000000000000...|6.970000000000000...|2.830000000000000...|1.120000000000000...|
|3.310000000000000...|5.200000000000000...|3.785000000000000...|-1.22270000000000...|1.525000000000000...|2.774999999999999...|7.930000000000000...|3.470000000000000...|1.966000000000000...|
|3.030000000000000...|5.200000000000000...|3.785000000000000...|-1.22270000000000...|1.555000000000000...|2.120200000000000...|6.480000000000000...|2.930000000000000...|1.228000000000000...|
|4.190000000000000...|5.000000000000000...|3.784000000000000...|-1.22260000000000...|1.587000000000000...|1.991100000000000...|9.900000000000000...|4.550000000000000...|2.239000000000000...|
|2.750000000000000...|5.200000000000000...|3.784000000000000...|-1.22270000000000...|1.629000000000000...|2.603299999999999...|6.900000000000000...|2.980000000000000...|1.503000000000000...|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [16]:
# Print the data types of all `df` columns
# df.dtypes

# Print the schema of `df`
df.printSchema()

root
 |-- households: string (nullable = true)
 |-- housingMedianAge: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- medianHouseValue: string (nullable = true)
 |-- medianIncome: string (nullable = true)
 |-- population: string (nullable = true)
 |-- totalBedRooms: string (nullable = true)
 |-- totalRooms: string (nullable = true)

In [19]:
# Import all from `sql.types`
from pyspark.sql.types import *

# Write a custom function to convert the data type of DataFrame columns
def convertColumn(df, names, newType):
  for name in names: 
     df = df.withColumn(name, df[name].cast(newType))
  return df 

# Assign all column names to `columns`
columns = ['medianHouseValue', 'medianIncome', 'housingMedianAge', 'totalBedRooms', 'totalRooms', 'population', 'households', 'latitude', 'longitude',  ]

# Conver the `df` columns to `FloatType()`
df = convertColumn(df, columns, FloatType())

In [20]:
df.printSchema()

root
 |-- households: float (nullable = true)
 |-- housingMedianAge: float (nullable = true)
 |-- latitude: float (nullable = true)
 |-- longitude: float (nullable = true)
 |-- medianHouseValue: float (nullable = true)
 |-- medianIncome: float (nullable = true)
 |-- population: float (nullable = true)
 |-- totalBedRooms: float (nullable = true)
 |-- totalRooms: float (nullable = true)

In [21]:
df.select('population','totalBedRooms').show(10)

+----------+-------------+
|population|totalBedRooms|
+----------+-------------+
|     322.0|        129.0|
|    2401.0|       1106.0|
|     496.0|        190.0|
|     558.0|        235.0|
|     565.0|        280.0|
|     413.0|        213.0|
|    1094.0|        489.0|
|    1157.0|        687.0|
|    1206.0|        665.0|
|    1551.0|        707.0|
+----------+-------------+
only showing top 10 rows

In [22]:
df.groupBy("housingMedianAge").count().sort("housingMedianAge",ascending=False).show()

+----------------+-----+
|housingMedianAge|count|
+----------------+-----+
|            52.0| 1273|
|            51.0|   48|
|            50.0|  136|
|            49.0|  134|
|            48.0|  177|
|            47.0|  198|
|            46.0|  245|
|            45.0|  294|
|            44.0|  356|
|            43.0|  353|
|            42.0|  368|
|            41.0|  296|
|            40.0|  304|
|            39.0|  369|
|            38.0|  394|
|            37.0|  537|
|            36.0|  862|
|            35.0|  824|
|            34.0|  689|
|            33.0|  615|
+----------------+-----+
only showing top 20 rows

In [23]:
df.describe().show()

+-------+-----------------+------------------+-----------------+-------------------+------------------+------------------+------------------+-----------------+------------------+
|summary|       households|  housingMedianAge|         latitude|          longitude|  medianHouseValue|      medianIncome|        population|    totalBedRooms|        totalRooms|
+-------+-----------------+------------------+-----------------+-------------------+------------------+------------------+------------------+-----------------+------------------+
|  count|            20640|             20640|            20640|              20640|             20640|             20640|             20640|            20640|             20640|
|   mean|499.5396802325581|28.639486434108527|35.63186143109965|-119.56970444871473|206855.81690891474|3.8706710030346416|1425.4767441860465|537.8980135658915|2635.7630813953488|
| stddev|382.3297528316098| 12.58555761211163|2.135952380602968|  2.003531742932898|115395.61587441359|1.8998217183639696|  1132.46212176534| 421.247905943133|2181.6152515827944|
|    min|              1.0|               1.0|            32.54|            -124.35|           14999.0|            0.4999|               3.0|              1.0|               2.0|
|    max|           6082.0|              52.0|            41.95|            -114.31|          500001.0|           15.0001|           35682.0|           6445.0|           39320.0|
+-------+-----------------+------------------+-----------------+-------------------+------------------+------------------+------------------+-----------------+------------------+

-------------------------------------
**Data Preprocessing**

In [24]:
# Import all from `sql.functions` 
from pyspark.sql.functions import *

# Adjust the values of `medianHouseValue`
df = df.withColumn("medianHouseValue", col("medianHouseValue")/100000)

# Show the first 2 lines of `df`
df.take(2)

[Row(households=126.0, housingMedianAge=41.0, latitude=37.880001068115234, longitude=-122.2300033569336, medianHouseValue=4.526, medianIncome=8.325200080871582, population=322.0, totalBedRooms=129.0, totalRooms=880.0),
 Row(households=1138.0, housingMedianAge=21.0, latitude=37.86000061035156, longitude=-122.22000122070312, medianHouseValue=3.585, medianIncome=8.301400184631348, population=2401.0, totalBedRooms=1106.0, totalRooms=7099.0)]

**Feature Engineering**

In [25]:
# Import all from `sql.functions` if you haven't yet
from pyspark.sql.functions import *

# Divide `totalRooms` by `households`
roomsPerHousehold = df.select(col("totalRooms")/col("households"))

# Divide `population` by `households`
populationPerHousehold = df.select(col("population")/col("households"))

# Divide `totalBedRooms` by `totalRooms`
bedroomsPerRoom = df.select(col("totalBedRooms")/col("totalRooms"))

# Add the new columns to `df`
df = df.withColumn("roomsPerHousehold", col("totalRooms")/col("households")) \
   .withColumn("populationPerHousehold", col("population")/col("households")) \
   .withColumn("bedroomsPerRoom", col("totalBedRooms")/col("totalRooms"))
   
# Inspect the result
df.first()

Row(households=126.0, housingMedianAge=41.0, latitude=37.880001068115234, longitude=-122.2300033569336, medianHouseValue=4.526, medianIncome=8.325200080871582, population=322.0, totalBedRooms=129.0, totalRooms=880.0, roomsPerHousehold=6.984126984126984, populationPerHousehold=2.5555555555555554, bedroomsPerRoom=0.14659090909090908)

In [26]:
# Re-order and select columns
df = df.select("medianHouseValue", 
              "totalBedRooms", 
              "population", 
              "households", 
              "medianIncome", 
              "roomsPerHousehold", 
              "populationPerHousehold", 
              "bedroomsPerRoom")

In [27]:
# Import `DenseVector`
from pyspark.ml.linalg import DenseVector

# Define the `input_data` 
input_data = df.rdd.map(lambda x: (x[0], DenseVector(x[1:])))

# Replace `df` with the new DataFrame
df = spark.createDataFrame(input_data, ["label", "features"])

Next, you can finally scale the data. You can use Spark ML to do this: this library will make machine learning on big data scalable and easy. You’ll find tools such as ML algorithms and everything you need to build practical ML pipelines. In this case, you don’t need to do that much preprocessing so a pipeline would maybe be overkill, but if you want to look into it, definitely consider visiting the this page:
https://spark.apache.org/docs/latest/ml-pipeline.html

In [28]:
# Import `StandardScaler` 
from pyspark.ml.feature import StandardScaler

# Initialize the `standardScaler`
standardScaler = StandardScaler(inputCol="features", outputCol="features_scaled")

# Fit the DataFrame to the scaler
scaler = standardScaler.fit(df)

# Transform the data in `df` with the scaler
scaled_df = scaler.transform(df)

# Inspect the result
scaled_df.take(2)

[Row(label=4.526, features=DenseVector([129.0, 322.0, 126.0, 8.3252, 6.9841, 2.5556, 0.1466]), features_scaled=DenseVector([0.3062, 0.2843, 0.3296, 4.3821, 2.8228, 0.2461, 2.5264])),
 Row(label=3.585, features=DenseVector([1106.0, 2401.0, 1138.0, 8.3014, 6.2381, 2.1098, 0.1558]), features_scaled=DenseVector([2.6255, 2.1202, 2.9765, 4.3696, 2.5213, 0.2031, 2.6851]))]

----------------------------------------------------------
**Building A Machine Learning Model With Spark ML**

In [29]:
# Split the data into train and test sets
train_data, test_data = scaled_df.randomSplit([.8,.2],seed=1234)

In [30]:
# Import `LinearRegression`
from pyspark.ml.regression import LinearRegression

# Initialize `lr`
lr = LinearRegression(labelCol="label", maxIter=10, regParam=0.3, elasticNetParam=0.8)

# Fit the data to the model
linearModel = lr.fit(train_data)

In [31]:
# Generate predictions
predicted = linearModel.transform(test_data)

# Extract the predictions and the "known" correct labels
predictions = predicted.select("prediction").rdd.map(lambda x: x[0])
labels = predicted.select("label").rdd.map(lambda x: x[0])

# Zip `predictions` and `labels` into a list
predictionAndLabel = predictions.zip(labels).collect()

# Print out first 5 instances of `predictionAndLabel` 
predictionAndLabel[:5]

[(1.1340115638008952, 0.14999),
 (1.4485018834650096, 0.14999),
 (1.5713396046425587, 0.14999),
 (1.7496542762527307, 0.283),
 (1.2438468929500472, 0.366)]

------------------
**Evaluating the Model**

In [33]:
# Coefficients for the model
print(linearModel.coefficients)

# Intercept for the model
print(linearModel.intercept)

[0.0,0.0,0.0,0.2796215289269825,0.0,0.0,0.0]
0.9841344205626824

In [34]:
# Get the RMSE
print(linearModel.summary.rootMeanSquaredError)

# Get the R2
print(linearModel.summary.r2)

0.8765335684459216
0.42282227755911483

In [35]:
spark.stop()