In [1]:
import findspark
findspark.init("A:/Zhao/bigdata/spark")

In [2]:
# Import SparkSession
from pyspark.sql import SparkSession

# Build the SparkSession
spark = SparkSession.builder \
   .master("local") \
   .appName("Spark test") \
   .config("spark.driver.extraClassPath","A:/Zhao/bigdata/jdbc/sqljdbc42.jar") \
   .getOrCreate()
   
sc = spark.sparkContext

**to connect MS SQL Server**

need to download "Microsoft JDBC Driver 6.0 for SQL Server"
and locate .jar file as above

need to enable "TCP/IP" Protocol Name from "SQL Server Network Configuration"

In [3]:
jdbcDF = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:sqlserver://W18\MSSQL2016;databaseName=EnergyMiser") \
    .option("dbtable", "dbo.Drivers") \
    .option("user", "hezhao2018") \
    .option("password", "hezhao2018") \
    .load()

In [4]:
jdbcDF.head(10)

[Row(DriversId=1, SitesId=1, DriverNo='1234', Surname='Test', GivenName='TPE', Visible=True, RfTagId=None),
 Row(DriversId=2, SitesId=1, DriverNo='9125', Surname='Aitken', GivenName='Andrew', Visible=True, RfTagId=None),
 Row(DriversId=3, SitesId=1, DriverNo='3201', Surname='Akers', GivenName='Kevin', Visible=True, RfTagId=None),
 Row(DriversId=4, SitesId=1, DriverNo='9077', Surname='Allison', GivenName='David', Visible=True, RfTagId=None),
 Row(DriversId=5, SitesId=1, DriverNo='9078', Surname='Almey', GivenName='Lynda', Visible=True, RfTagId=None),
 Row(DriversId=6, SitesId=1, DriverNo='3034', Surname='Anderson', GivenName='Colin', Visible=True, RfTagId=None),
 Row(DriversId=7, SitesId=1, DriverNo='9069', Surname='Anderson', GivenName='Gordon', Visible=True, RfTagId=None),
 Row(DriversId=8, SitesId=1, DriverNo='5017', Surname='Askew', GivenName='Neil', Visible=True, RfTagId=None),
 Row(DriversId=9, SitesId=1, DriverNo='3001', Surname='Atkinson', GivenName='Mark', Visible=True, RfTagId=None),
 Row(DriversId=10, SitesId=1, DriverNo='9119', Surname='Bahia', GivenName='Parmjit', Visible=True, RfTagId=None)]

In [5]:
jdbcDF.printSchema()

root
 |-- DriversId: integer (nullable = true)
 |-- SitesId: integer (nullable = true)
 |-- DriverNo: string (nullable = true)
 |-- Surname: string (nullable = true)
 |-- GivenName: string (nullable = true)
 |-- Visible: boolean (nullable = true)
 |-- RfTagId: string (nullable = true)

In [9]:
jdbc_url = 'jdbc:sqlserver://W18\MSSQL2016;databaseName=EnergyMiser'
db_username = 'hezhao2018'
db_password = 'hezhao2018'
db_table = 'dbo.Journeys'

jdbcDF2 = spark.read.jdbc(jdbc_url, db_table, properties={"user": db_username, "password": db_password})

In [10]:
jdbcDF2.printSchema()

root
 |-- JourneysId: integer (nullable = true)
 |-- SitesId: integer (nullable = true)
 |-- JourneyDate: timestamp (nullable = true)
 |-- RoutesId: integer (nullable = true)
 |-- UnitsId: integer (nullable = true)
 |-- DriversId: integer (nullable = true)
 |-- DepotsId: integer (nullable = true)
 |-- TimetablesId: integer (nullable = true)
 |-- Visible: boolean (nullable = true)
 |-- TotalEnergy: double (nullable = true)
 |-- Duration: integer (nullable = true)
 |-- UploadTime: timestamp (nullable = true)

In [12]:
filterDF = jdbcDF2.filter(jdbcDF2.TotalEnergy > 0)
filterDF.head(5)

[Row(JourneysId=1053, SitesId=1, JourneyDate=datetime.datetime(2017, 3, 23, 0, 0), RoutesId=358, UnitsId=1, DriversId=1, DepotsId=None, TimetablesId=6751, Visible=True, TotalEnergy=51619206.253, Duration=6, UploadTime=datetime.datetime(2017, 8, 17, 15, 13, 3, 287000)),
 Row(JourneysId=1056, SitesId=1, JourneyDate=datetime.datetime(2017, 3, 27, 0, 0), RoutesId=43, UnitsId=12, DriversId=1, DepotsId=None, TimetablesId=386, Visible=True, TotalEnergy=94257917.924, Duration=723, UploadTime=datetime.datetime(2017, 8, 17, 15, 13, 13, 333000)),
 Row(JourneysId=1057, SitesId=1, JourneyDate=datetime.datetime(2017, 3, 29, 0, 0), RoutesId=9, UnitsId=7, DriversId=1, DepotsId=None, TimetablesId=284, Visible=True, TotalEnergy=784433365.238, Duration=1214, UploadTime=datetime.datetime(2017, 8, 17, 15, 13, 16, 100000)),
 Row(JourneysId=1058, SitesId=1, JourneyDate=datetime.datetime(2017, 3, 29, 0, 0), RoutesId=9, UnitsId=9, DriversId=1, DepotsId=None, TimetablesId=284, Visible=True, TotalEnergy=827795206.659, Duration=3003, UploadTime=datetime.datetime(2017, 8, 17, 15, 13, 18, 710000)),
 Row(JourneysId=1060, SitesId=1, JourneyDate=datetime.datetime(2017, 3, 31, 0, 0), RoutesId=299, UnitsId=8, DriversId=1, DepotsId=None, TimetablesId=1063, Visible=True, TotalEnergy=4740318436.2, Duration=2778, UploadTime=datetime.datetime(2017, 8, 17, 15, 13, 26, 40000))]